
@font-face {
  font-family: "Play Regular";
  src: url("../../shared/assets/fonts/Play-Regular.woff");
}
@font-face {
  font-family: "Play Bold";
  src: url("../../shared/assets/fonts/Play-Bold.woff");
}